<form action="/people/add" method="POST">
    <p>
        <label>Course Name:</label><input value="" name="name" /><br/><br/>
        <label>Amount:</label><input value="" name="amount" /><br/><br/>
        <button type="submit">Add Course</button>
    </p>
</form>
